<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
    <!--#region LEFT -->
    <div fxFlex="" class="brand">
        <a [routerLink]="['/']">
            <mat-icon>eco</mat-icon>
        </a>
        <a fxShow fxHide.lt-sm [routerLink]="['/']" routerLinkActive="router-link-active">
            Health App
        </a>
    </div>
    <!-- #endregion -->

    <!--#region RIGHT -->

    <!-- test logged-in or not -->
    <button [mat-menu-trigger-for]="appMenu" mat-button>
        USERNAME
        <!-- put code here -->
    </button>

    <mat-menu #appMenu>
        <div id="matList">
            <mat-list>
                <mat-list-item mat-button [routerLink]="[ '/login' ]" routerLinkActive="active">
                    Login
                </mat-list-item>
            </mat-list>
            <div id="logout" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1em">
                <mat-divider fxFlexFill></mat-divider>
                <button mat-raised-button (click)="logout()" fxFlex>Logout</button>
            </div>
        </div>
    </mat-menu>
    <!-- #endregion -->
</mat-toolbar>