<div fxLayout="row" fxLayoutAlign="center">
    <mat-stepper [linear]="false" [orientation]="(stepperOrientation | async)!" fxFlex fxFlex.gt-md="65">

        <!-- #region Lab's info -->
        <mat-step [stepControl]="labInfoFG" label="Your Lab's Info">
            <div fxLayout="row" fxLayoutAlign="center">
                <form [formGroup]="labInfoFG" fxLayout="column" fxFlex="80" fxFlex.lt-sm="100">
                    <!-- fields= -->
                    <mat-form-field appearance="outline">
                        <mat-label>Lab's name</mat-label>
                        <input [dirInputFormat]="'uppercase'" matInput placeholder="Enter the name here"
                            formControlName="labNameCtrl" required autofocus>
                        <mat-error>This field is required.</mat-error>
                    </mat-form-field>
                    <!-- Country -->
                    <mat-form-field [dirClearControlFieldByClick]="CountryFilterCtrl" #countryField appearance="outline" flexLayout="row">
                        <mat-label>Lab's country</mat-label>
                        <img fxFlex="50px" *ngIf="SelectedCountryCtrl.valid" aria-hidden
                            [src]="SelectedCountryCtrl.value.flag" height="25">
                        &nbsp;
                        <input #inputElement fxFlex="200px" type="text" placeholder="Type to search the country"
                            aria-label="Country Code" matInput formControlName="countryFilterCtrl"
                            [matAutocomplete]="auto" required>
                        <mat-autocomplete #auto="matAutocomplete"
                            (optionSelected)="moveFocusToNext(countryField, inputElement, governmentIdField, governmentIdInput)">
                            <mat-option *ngFor="let country of filteredCountries$ | async" [value]="country.shortName"
                                (onSelectionChange)="getSelectedCountry(country, $event)">
                                <img aria-hidden [src]="country.flag" height="25">
                                &nbsp;
                                <span>{{country.name}}</span>
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error>This field is required.</mat-error>
                    </mat-form-field>
                    <mat-form-field #governmentIdField appearance="outline">
                        <mat-label>Lab's Government Code / ID</mat-label>
                        <input #governmentIdInput matInput placeholder="Enter the Code / ID here"
                            formControlName="labIdCtrl" required>
                        <mat-hint>Enter your lab's Government Registration ID.</mat-hint>
                        <mat-error>This field is required.</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Lab's official email</mat-label>
                        <input [dirInputFormat]="'lowercase'" matInput placeholder="Enter the email address"
                            formControlName="emailCtrl" required>
                        <mat-hint>Used for Instant Verification and Login.</mat-hint>
                        <mat-error>This field is required.</mat-error>
                    </mat-form-field>

                    <!-- button -->
                    <div fxLayout="row" fxLayoutAlign="end center">
                        <button [disabled]="labInfoFG.invalid" fxFlex mat-raised-button color="primary" matStepperNext
                            fxFlex="30" fxFlex.lt-md="50">Next
                        </button>
                    </div>
                </form>
            </div>
        </mat-step>
        <!-- #endregion -->

        <!-- #region Address and Contact Info -->
        <mat-step [stepControl]="contactInfoFG" label="Lab's Contact Info">
            <div fxLayout="row" fxLayoutAlign="center">
                <form [formGroup]="contactInfoFG" fxLayout="column" fxFlex="80" fxFlex.lt-sm="100">
                    <!-- code & Phone Number -->
                    <mat-form-field appearance="outline">
                        <mat-label>Lab's Official Phone Number</mat-label>
                        <span *ngIf="PhoneCountryCodeCtrl.value" matPrefix>
                            +{{PhoneCountryCodeCtrl.value}}&nbsp;&nbsp;
                        </span>
                        <input matInput formControlName="phoneNumberCtrl" placeholder="858-707-1234" required>
                        <mat-hint>The official phone number only.</mat-hint>
                        <mat-error>Lab's official phone number is required.</mat-error>
                    </mat-form-field>
                    <!-- Street address -->
                    <mat-form-field appearance="outline">
                        <mat-label>Street Address</mat-label>
                        <textarea matInput formControlName="streetCtrl" placeholder="Ex. Main St" required></textarea>
                        <mat-hint>Expandable field by Enter key.</mat-hint>
                        <mat-error>This field is required.</mat-error>
                        <button *ngIf="this.StreetCtrlCtrl.dirty" matSuffix mat-icon-button aria-label="Clear"
                            (click)="clearStreet()">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                    <!-- Unit / Apt# -->
                    <mat-form-field appearance="outline">
                        <mat-label>Unit / Apt#</mat-label>
                        <input matInput formControlName="unitCtrl" placeholder="Ex. 253">
                        <mat-hint>Optional field.</mat-hint>
                    </mat-form-field>
                    <!-- City & State -->
                    <mat-form-field appearance="outline">
                        <mat-label>City</mat-label>
                        <input matInput formControlName="cityCtrl" placeholder="Ex. San Diego" required>
                        <mat-error>This field is required.</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>State</mat-label>
                        <input matInput formControlName="stateCtrl" placeholder="Ex. California" required>
                        <mat-error>This field is required.</mat-error>
                    </mat-form-field>
                    <!-- Zip -->
                    <mat-form-field appearance="outline">
                        <mat-label>Zip/Postal code</mat-label>
                        <input matInput formControlName="zipCtrl" placeholder="Ex. 92125" required>
                        <mat-error>This field is required.</mat-error>
                    </mat-form-field>
                    <!-- Additional instruction for address -->
                    <mat-form-field appearance="outline">
                        <mat-label>Do we need additional instructions?</mat-label>
                        <textarea matInput formControlName="additionalInfoCtrl" placeholder="Ex. Main St"></textarea>
                        <mat-hint>Obtional field.</mat-hint>
                        <button *ngIf="this.StreetCtrlCtrl.dirty" matSuffix mat-icon-button aria-label="Clear"
                            (click)="clearStreet()">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                    <!-- #region buttons -->
                    <div fxLayout="row" fxLayoutAlign="end center">
                        <button fxFlex mat-raised-button color="primary" matStepperPrevious fxFlex="30"
                            fxFlex.lt-md="50">Back
                        </button>
                        <button [disabled]="labInfoFG.invalid" fxFlex mat-raised-button color="primary" matStepperNext
                            fxFlex="30" fxFlex.lt-md="50">Next
                        </button>
                    </div>
                    <!-- #endregion -->

                    <button (click)="checkStatus()">Check</button>
                      <p>{{contactInfoFG.value | json}}</p>
                </form>
            </div>
        </mat-step>
        <!-- #endregion -->

        <!-- #region Sign Contract -->
        <mat-step [stepControl]="contractFG" label="Sign Contract">
            <form [formGroup]="contractFG">
                <mat-form-field appearance="outline">
                    <mat-label>Phone number</mat-label>
                    <input matInput formControlName="thirdCtrl" placeholder="Ex. 12345678" required>
                </mat-form-field>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <!-- #endregion -->

        <!-- #region Review and Submit -->
        <mat-step>
            <ng-template matStepLabel>Review and Submit</ng-template>
            <p>You are now done.</p>
            <div>
                <button mat-button matStepperPrevious>Back</button>
            </div>
        </mat-step>
        <!-- #endregion -->
    </mat-stepper>
</div>